<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite">

    <parameter name="notSortedFolderPath" value="D:/Prog/TEMP/WARNINGTestingZone/fileSorter/notSorted/"/>
    <test name="jsonFilesTest">
        <parameter name="fromSftpStorage" value="/testFiles/json/getedFromSftp/"/>
        <parameter name="ftpUsername" value="admin"/>
        <parameter name="ftpPassword" value="11111"/>
        <parameter name="ftpHost" value="0.0.0.0"/>
        <parameter name="ftpPort" value="22"/>
        <parameter name="ftpHostKeyChecking" value="StrictHostKeyChecking"/>
        <parameter name="ftpHostKeyCheckingValue" value="no"/>
        <parameter name="ftpChanelType" value="sftp"/>
        <classes>
            <class name="by.home.fileSorterAutotest.JsonFilesTest"/>
        </classes>
    </test>

    <test name="txtFilesTest">
        <classes>
            <class name="by.home.fileSorterAutotest.TxtFilesTest"/>
        </classes>
    </test>

</suite>